@media (max-width: 980px) {
	#forkme {
		display: none;
	}	
}

body {
	padding-top: 20px;
	font-size: 15px;
}

p {
	line-height: 22px;
}

.angular-google-map {
	height: 400px;
	border: 10px #fff solid;
	margin-bottom: 20px;
	box-shadow: 0 0 5px -1px rgba(0, 0, 0, 1);
}

.angular-google-map img {
	max-width: inherit !important;
}

legend {
	margin-bottom: 10px;
}

pre {
	margin-bottom: 30px;
}

footer {
	margin-top: 40px;
	padding: 20px 0;
	border-top: 1px #eee solid;
}

footer .pull-right {
	text-align: right;
}

.hero-unit hr {
	border-color: #ddd #000 #eee;
	margin: 20px 0 10px 0;
}

.hero-unit h1 {
	letter-spacing: -2px;
}

.hero-unit p {
	/*margin: 10px 0 20px 0;*/
}

#___plusone_0 {
	position: relative;
	top: -3px;
}

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
	-webkit-transition: background-color 0.6s;
	-moz-transition: background-color 0.6s;
	-ms-transition: background-color 0.6s;
	-o-transition: background-color 0.6s;
	transition: background-color 0.6s;
}

.donation-form {
	text-align: center;
}