        <h2 id="GoogleMapsApiLoader">GoogleMapsApi Provider <span class="badge badge-info">New in v2.0.0</span></h2>
        Alias: <strong>(Google Maps SDK Async Loader)</strong><br><br>
        This provider is was created for a few reasons:
        <ul>
          <li>
            <a href="https://developers.google.com/maps/documentation/javascript/tutorial#asynch">google recommends loading the sdk this way</a>
          </li>
          <li>
            It garuntees that angular-google-maps does not begin processing any directives until all of the google maps sdk is fully ready!
          </li>
        </ul>
				To utilize this provider you must load it and configure it properly.
