@font-face {
    font-family: 'chunkfiveroman';
    src: url('fonts/chunkfive-webfont.eot');
    src: url('fonts/chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/chunkfive-webfont.woff') format('woff'),
         url('fonts/chunkfive-webfont.ttf') format('truetype'),
         url('fonts/chunkfive-webfont.svg#chunkfiveroman') format('svg');
    font-weight: normal;
    font-style: normal;

}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body {
	padding-top: 40px;	

}

body, h1, h2, h3, h4, h5, h6 {
	font-family: Cantarell, 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

h1.page-header {
	font-size: 70px;
	text-align: center;
	font-weight: normal;
	padding-bottom: 60px !important;
	padding-top: 40px;
	letter-spacing: -2px;
}

.navbar-default .navbar-nav > li > a {
	font-size: 15px;
}

.btn {
	font-weight: bold !important;
}

footer h3 {
}

a.brand, h2, h3 {
	font-weight: normal;
}

.well a {
	font-weight: 400;
}

/** style for the map on the main page */
.main .angular-google-map-container {
	height: 265px;
	margin-bottom: 30px;
	border: 10px #fff solid;
	box-shadow: 0 0 5px #ccc;
}

/** style for the map on the demo page */
.demo .angular-google-map-container {
	height: 500px;
	margin-bottom: 30px;
	border: 10px #fff solid;
	box-shadow: 0 0 5px #ccc;
}

/* fix for Twitter Bootstrap handling of responsive images */
.angular-google-map img {
    max-width: inherit;
}

footer {

	border-top: 2px #ecf0f1 solid;
/*	font-size: 85%;*/

	padding-top: 20px;
	padding-bottom: 40px;
	margin-top: 60px;
}

footer > .container {
	margin-top: 20px;
}

footer .copyright {
	margin-top: 60px;
}

.text-tiny {
	font-size: 80%;
}

ol.steps {
	margin-top: 40px;
}

ol.steps li {
	margin-bottom: 30px;
}

ol.steps li pre {
	margin-top: 10px;
}

.btn.btn-large [class^="icon-"], .btn.btn-large [class*=" icon-"] {
	display: inline-block;
	width: 30px;
	margin-top: 5px;
}

article {
	margin-bottom: 20px;
}

#docs-api-menu {
	margin-top: 10px;
}

.headline {
	padding-bottom: 20px;
	margin-bottom: 30px;
	border-bottom: 1px #eee solid;
}

.headline:last-child {
	border-bottom: none;
}

h2 {
	border-bottom: 1px solid #ecf0f1;
	padding-bottom: 4px;
/*	font-weight: 900;*/
}

h2:not(:first-child) {
	margin-top: 40px;
}

.dropdown-menu>li>a  {
	font-weight: 300;
}

.issue-label a {
	color: inherit !important;
}

ul.separated li:not(:first-child) {
	margin-top: 10px;
}

.icons-ul.icons-2x li {
	line-height: 2.3em;
}

/* fix addthis bubble */
.addthis_32x32_style .addthis_counter.addthis_bubble_style {
	width: 80px !important;
}

/* ngAnimate */

.animate-repeat {
/*  line-height:40px;*/
  list-style:none;
  box-sizing:border-box;
}
 
.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}
 
.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
  max-height:0;
}
 
.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
  max-height:40px;
}

.view-animate.ng-enter, .view-animate.ng-leave, .animate-repeat.ng-enter, .animate-repeat.ng-leave, .animate-repeat.ng-move {
	position: relative;
	-webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s;
	transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s;
}

.view-animate.ng-enter {
	opacity: 0;
	max-height: 0;
}

.view-animate.ng-enter.ng-enter-active {
	opacity: 1;
	max-height: 40px;
}

.view-animate.ng-leave {
}

.view-animate.ng-leave.ng-leave-active {
	opacity: 0;
}

