body {
    font-family: 'Open Sans', sans-serif;
}

.angular-google-map-container {
    width: 100%;
    height: 600px;
}

/* fix for Twitter Bootstrap handling of responsive images */
.angular-google-map img {
    max-width: inherit;
}

.angular-google-map {
    top: 80px;

}

.shrink {
    font-size: 8;
}

.true:hover {
    background-color: lightgreen;
}

.false:hover {
    background-color: lightpink;
}

.marker-labels {
    color: red;
    background-color: white;
    font-family: "Lucida Grande", "Arial", sans-serif;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    width: 40px;
    border: 1px solid black;
    white-space: nowrap;
}

/* uncomment this if you are using the <google-map> element instead of a div
.angular-google-map {
  display: block;
  }*/