<!DOCTYPE html>

<html ng-app="angular-google-maps-example">

<head>
	<meta charset="UTF-8">
	<title>angular-google-maps example page</title>
	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,800,600,300,700' rel='stylesheet' type='text/css'>
	<style>
	body {
		font-family: 'Open Sans', sans-serif;
	}

	.angular-google-map-container {
		width: 100%;
		height: 600px;
	}

	/* fix for Twitter Bootstrap handling of responsive images */
	.angular-google-map img {
		max-width: inherit;
	}

	.shrink{
		font-size: 8;
	}

  /* uncomment this if you are using the <google-map> element instead of a div
  .angular-google-map {
    display: block;
    }*/
    </style>
</head>

<body ng-controller="ExampleController">
	<!--	You can use either a div having class 'google-map' or the '<google-map>' element; in
	the latter case, uncomment the style above to make sure the custom elements gets block display	-->
	<div class="container">
		<div class="page-title">
			<h1>angular-google-maps example</h1>
		</div>
		<div class="row">
			<div class="span8">
				<div class="google-map"
				center="map.center"
				zoom="map.zoom"
				draggable="true"
				dragging="map.dragging"
				events="map.events">
				<!-- prefedined markers -->
				<marker ng-repeat="m in map.markers" coords="m" icon="m.icon" >
					<window show="m.do_show_window" closeClick="m.closeClick()">
						<p>This is an info window at {{ m.latitude | number:4 }}, {{ m.longitude | number:4 }}!</p>
						<p class="muted">My marker will stay open when the window is popped up!</p>
					</window>
				</marker>

				<!-- marker for clicked position -->
				<marker coords="map.clickedMarker" animate="false" >
					<window isIconVisibleOnClick="false">This is my clicked marker!
						<p class="muted">My marker will reappear when you close me.</p>
					</window>
				</marker>

				<window show="map.infoWindow.show" coords="map.infoWindow.coords" isIconVisibleOnClick="false">I should not be attached to a
					marker.</window>

					<window show="map.templatedInfoWindow.show" coords="map.templatedInfoWindow.coords" templateUrl="map.templatedInfoWindow.templateUrl" templateParameter="map.templatedInfoWindow.templateParameter">
					</window>

					<polyline path="map.polyline.path" stroke="map.polyline.stroke" fit="true"></polyline>
				</div>
			</div>
			<div class="span4">
				<fieldset>
					<table class="table">
						<tbody>
							<tr>
								<td>markers</td>
								<td>
									<div class="well sidebar-nav">
										<ul class="nav nav-list">
											<li  ng-repeat="m in map.markers" ng-click="m.do_show_window=true">
												<a href="#">
													<i class="i" title="Click me to Show InfoWindow!">
														Marker: {{m}}
													</i>
												</a>
											</li>
										</ul>
									</div>
								</td>
							</tr>
							<tr>
								<td>center</td>
								<td><pre><span ng-show="map.center.latitude >= 0">&nbsp;</span>{{ map.center.latitude | number:4 }} lat<br><span ng-show="map.center.longitude >= 0">&nbsp;</span>{{ map.center.longitude | number:4 }} lng</pre></td>
							</tr>
							<tr>
								<td>zoom</td>
								<td>{{ map.zoom }}</td>
							</tr>
							<tr>
								<td>dragging</td>
								<td>{{ map.dragging }}</td>
							</tr>
							<tr>
								<td>clicked position</td>
								<td>
									<pre ng-show="map.clickedMarker.latitude != null && map.clickedMarker.longitude != null"><span ng-show="map.clickedMarker.latitude >= 0">&nbsp;</span>{{ map.clickedMarker.latitude | number:4 }} lat<br><span ng-show="map.clickedMarker.longitude >= 0">&nbsp;</span>{{ map.clickedMarker.longitude | number:4 }} lng</pre>
									<span ng-show="map.clickedMarker.latitude == null || map.clickedMarker.longitude == null">Click the map to see</span>
								</td>
							</tr>
						</tbody>
					</table>
					<button class="btn btn-danger" ng-click="removeMarkers()">Clear markers</button>
				</fieldset>
			</div>
		</div>
	</div>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
	<script src="http://maps.googleapis.com/maps/api/js?sensor=false&language=en"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
	<script src="http://underscorejs.org/underscore-min.js"></script>
	<script src="angular-google-maps.js"></script>
	<script src="example-controller.js"></script>
	<script src="templates/infoController.js"></script>
	<script src="http://localhost:35729/livereload.js"></script>
</body>

</html>
