<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/stylesheets/example.css"/>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-route/angular-route.js"></script>
    <script src="../bower_components/lodash/lodash.js"></script>
    <script src="http://cdn.rawgit.com/nmccready/angular-simple-logger/0.0.1/dist/index.js"></script><script src="../dist/angular-google-maps_dev_mapped.js"></script>
    <script src="assets/scripts/controllers/issue-1075-markers-icon-change.js"></script>
</head>
<body ng-app="appMaps">
<div ng-controller="mapIconChangeCtrl as mapvm">
    <button ng-click="mapvm.changeIcon()">Update Icon property</button>
    <button ng-click=mapvm.changeObject()>Replace Marker object</button>
    <ui-gmap-google-map
            center='mapvm.map.center'
            zoom='mapvm.map.zoom'>

        <ui-gmap-markers
                models="mapvm.map.markers"
                coords="'location'"
                icon="'icon'"
                control="mapvm.markerControl"
                modelsByRef="true"
                ></ui-gmap-markers>

    </ui-gmap-google-map>
</div>
</body>
</html>
