.DS_Store
/.settings
/.project
node_modules
old/
tmp/
.tmp/
*~
app/components
/nbproject
.idea
.grunt
_SpecRunner.html
/spec/coverage
*.iml
/bower_components
/curl_components
.tmp
/app
