<new-scope ng-init="directive='Polygons';isStringTypeOnArray=true;thing='Polygon';">
    <ng-include src="'./views/directive/partials/polys.html'">
    </ng-include>
<script type="text/ng-template" id="polyTemplate">
<ui-gmap-polygons
        idKey="{expression}"
        models="{expression}"

        path="'{string}'"
        stroke="'{string}'"
        clickable="'{string}'"
        draggable="'{string}'"
        editable="'{string}'"
        geodesic="'{string}'"
        icons="'{string}'"
        visible="'{string}'"
        fit='{string or boolean}'
        events='{expression}'
        static='{expression}'

        control='{expression}'
        chunk='{expression}'
        cleanchunk='{expression}'
        doRebuildAll="{string or object}"

        fill='{expression}'
        zindex='{expression}'
        >
</ui-gmap-polygons>
</script>
</new-scope>