<p>The <code>search-box</code> directive is used to add a Google Places search box to the map.</p>

<h4>Usage</h4>

<div hljs language="html" include="'controlTemplate'"></div>

<h4>Parameters</h4>

<p class="muted">Required properties are in <span class="text-error">red</span>.</p>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Param</th>
      <th>Type</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>template</td>
      <td><span class="label label-danger">expression</span></td>
      <td>Template to be used for the search box's input field.</td>
    </tr>
    <tr>
      <td>position</td>
      <td><span class="label label-info">string</span></td>
      <td>String representing the position of the control within the map UI. Should be of the form <code>"top-left"</code> or <code>"TOP_LEFT"</code>. Defaults to <code>"TOP_LEFT"</code>. See <a href="https://developers.google.com/maps/documentation/javascript/controls#ControlPositioning" rel="external">Control Positioning</a> for position options and behaviour.</td>
    </tr>
    <tr>
      <td>parentdiv</td>
      <td><span class="label label-info">expression</span></td>
      <td>The id of another div on the page to which the the Search Box field should be appended. If this property is set the Search Box will not be added as a control on the map and the position parameter is not required.</td>
    </tr>
    <tr ng-include="'./views/directive/partials/options.html'" ng-init="thing='SearchBox';directive='search-box'">
    </tr><tr>
      <td>events</td>
      <td><span class="label label-info">expression</span>
      </td><td><p>Object containing event handlers for this Search Box. The keys are the event names and the values are the handler functions. See <a href="https://developers.google.com/maps/documentation/javascript/reference#SearchBoxOptions" rel="external">SearchBox documentation</a> (under Events section). There is only one event, places_changed.</p></td>
    </tr>
  </tbody>
</table>

<h4>Example</h4>
<runnable-example example="'search-box'"></runnable-example>

<script type="text/ng-template" id="controlTemplate">
<ui-gmap-search-box
  template='{expression}'
  position="'{string}'"
  parentdiv="'{string}'"
  options='{expression}'
  events='{expression}'>
</ui-gmap-search-box>
</script>