<h1 class="page-header">FAQ</h1>

<p>Here are the most frequently asked questions about this library from the issue tracker and the Google+ community. You
    can suggest an addition to this list by opening an issue in the issue tracker.</p>

<ul>
    <li><a href="#faq-map-instance">How do I access the map instance?</a></li>
    <li><a href="#faq-map-height">Can I dynamically set the map height?</a></li>
    <li><a href="#faq-map-events-apply">Map events are not working!</a></li>
	<li><a href="#faq-multiple-windows">How do I only open one window at a time?</a></li>
    <li><a href="#faq-map-partial-render">My map is only partially rendering!</a></li>
</ul>

<h3 id="faq-map-instance" class="faq-entry-title">How do I access the map instance?</h3>

<p>It is possible to access the map instance using the <code>tilesloaded</code> event:</p>

<ul class="nav nav-tabs">
    <li class="active"><a href="" data-target="#faq-map-instance-tab-html-js" data-toggle="tab">HTML</a></li>
    <li><a href="" data-target="#faq-map-instance-tab-script" data-toggle="tab">Script</a></li>
</ul>

<div class="tab-content">
    <div id="faq-map-instance-tab-html-js" class="tab-pane active">
        <div hljs>
            <ui-gmap-google-map events="map.events"></ui-gmap-google-map>
        </div>
    </div>
    <div id="faq-map-instance-tab-script" class="tab-pane">
        <div hljs hljs-language='javascript'>
            $scope.map = {
				events: {
					tilesloaded: function (map) {
						$scope.$apply(function () {
							$log.info('this is the map instance', map);
						});
					}
				}
            }
        </div>
    </div>
</div>

<h3 id="faq-map-height" class="faq-entry-title">Can I dynamically set the map height?</h3>

<p>The map's height can be set either statically using CSS or dynamically:</p>

<ul class="nav nav-tabs">
    <li class="active"><a href="" data-target="#faq-map-height-tab-css" data-toggle="tab">CSS Only</a></li>
    <li><a href="" data-target="#faq-map-height-tab-html-css" data-toggle="tab">HTML w CSS</a></li>
    <li><a href="" data-target="#faq-map-height-tab-html" data-toggle="tab">HTML w $ Script</a></li>
    <li><a href="" data-target="#faq-map-height-tab-script" data-toggle="tab">Script</a></li>
</ul>

<div class="tab-content">
    <div id="faq-map-height-tab-html" class="tab-pane">
        <div hljs>
            <ui-gmap-google-map id="my-map"></ui-gmap-google-map>
        </div>
    </div>
    <div id="faq-map-height-tab-script" class="tab-pane">
        <p>Let's assume we include the map in an <code>ng-view</code> block:</p>

        <div hljs>
			$scope.$on('$viewContentLoaded', function () {
				var mapHeight = 500; // or any other calculated value
				$("#my-map .angular-google-map-container").height(mapHeight);
			});
        </div>
    </div>
    <div id="faq-map-height-tab-html-css" class="tab-pane">
        <div hljs>
            <div ng-controller="ctrl" class="middle">
                <ui-gmap-google-map></ui-gmap-google-map>
            </div>
        </div>
    </div>
    <div id="faq-map-height-tab-css" class="tab-pane active">
        <div>With CSS only full example <a href="https://gist.github.com/nmccready/503e3d778852f7ab48f1">here</a> or on master dynamic-map-height.html</div>
        <div hljs>
            /*
            let me google that for you (many ways to skin this cat)
            http://stackoverflow.com/questions/10209704/set-google-maps-container-div-width-and-height-100 (implemented here)
            http://stackoverflow.com/questions/2821596/100-height-with-fixed-footer-and-embedded-google-map
            */

            body, html {
                height: 100%;
                width: 100%;
            }
            .angular-google-map-container {
                height: 100%;
                width: 50%;
                position: absolute;
            }

            .middle {
                display: table;
                width: 50%;
                margin-left: auto;
                margin-right: auto;
            }

            /*
            Use bootstraps container w/ some overrides, nice thing about this on bootstrap is there is
            psuedo element with clearfix and display: table; , all after (which is why I know .middle works above)
            */
            .container{
                width: 50%;
                padding-left: 0;
                padding-right: 0;
            }
        </div>
    </div>
</div>

<h3 id="faq-map-events-apply" class="faq-entry-title">Maps events are not working!</h3>

<p>Since Google Map's SDK events are fired outside the scope of the Angular application, a call to <code>$apply</code>
    is necessary to
    trigger dirty checking (see <a href="https://github.com/angular-ui/angular-google-maps/issues/241" rel="external">this
        issue</a>).</p>

<div hljs>
    $scope.map = {
    	events: {
            tilesloaded: function (map) {
                $scope.$apply(function () {
                    $scope.mapInstance = map;
                });
            }
        }
    }
</div>
<h3 id="faq-map-partial-render" class="faq-entry-title">How do I only open one window at a time?</h3>
<p>Most likely this is a symptom of using the 'windows' directive when all you really need is the 'window' directive.
The 'windows' directive has efficiency advantages over 'window' <i>when you are display a large number of windows simultaneously.</i>
If only one window at a time is needed, then use 'window' and change out the bindings. One method of accomplishing this is outlined below:
</p>
<div hljs>
	<ui-gmap-google-map center="map.center" zoom="map.zoom">
		<ui-gmap-window show="map.window.show" coords="map.window.model" options="map.window.options" closeclick="map.window.closeClick()">
			<div ng-non-bindable>test</div>
		</ui-gmap-window>
		<ui-gmap-markers idkey="'bid'" models="map.markers" coords="'self'" docluster="false" fit="'true'" icon="'icon'" events="map.markersEvents" options="'options'"></ui-gmap-markers>
	</ui-gmap-google-map>
</div>

<div hljs>
	$scope.map = {
        center: {
            latitude: 50.6278,
            longitude: 3.0583
        },
        zoom: 12,
        markers: [], // array of models to display
        markersEvents: {
            click: function(marker, eventName, model, arguments) {
                $scope.map.window.model = model;
                $scope.map.window.show = true;
            }
        },
        window: {
            marker: {},
            show: false,
            closeClick: function() {
                this.show = false;
            },
            options: {} // define when map is ready
        }
	};
</div>

<h3 id="faq-multiple-windows" class="faq-entry-title">My map is only partially rendering!</h3>

<p>If rendering starts before elements are full size, google maps calculates according to the smaller size. This is most
    commonly the case with a hidden element (eg, ng-show). To fix this, use "ng-if" instead, as this will wait to attach
    to the DOM until the condition is true, which should be after everything has rendered fully.</p>
