<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Google Maps for AngularJS</title>
    <meta name="description" content="This is a set of directives to integrate Google Maps into your AngularJS applications.">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="fragment" content="!">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link href="//netdna.bootstrapcdn.com/bootswatch/3.0.1/flatly/bootstrap.min.css" rel="stylesheet">
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,700,900,100' rel='stylesheet' type='text/css'>

    <!-- build:css(.tmp) styles/main.css -->    
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
</head>
  <body ng-app="angularGoogleMapsApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!--[if lt IE 9]>
      <script src="bower_components/es5-shim/es5-shim.js"></script>
      <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <nav class="navbar navbar-default" role="navigation">
    	<div class="navbar-header">
    		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
		      <span class="sr-only">Toggle navigation</span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		    </button>
    	</div>
    	<div class="collapse navbar-collapse" id="navbar-collapse">
    		<ul class="nav navbar-nav">
    			<li ng-class="{'active': $location.path() == '/'}"><a href="#!/" rel="start">Home</a></li>
	    		<li ng-class="{'active': $location.path() == '/use'}"><a href="#!/use">Quickstart</a></li>
	    		<li ng-class="{'active': $location.path() == '/api'}"><a href="#!/api">API documentation</a></li>
	    		<li ng-class="{'active': $location.path() == '/demo'}"><a href="#!/demo">Demo</a></li>	    		
	    		<li class="dropdown">
	    			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Developer resources <b class="caret"></b></a>
	    			<ul class="dropdown-menu">
	    				<li><a href="https://github.com/nlaplante/angular-google-maps"><i class="icon-github-alt"></i> Code</a></li>
	    				<li><a href="https://github.com/nlaplante/angular-google-maps/issues?state=open"><i class="icon-github-alt"></i> Issue tracker <span class="badge badge-important">{{ github.issuesCount }}</span></a></li>
	    				<li><a href="https://developers.google.com/maps/documentation/javascript/"><i class="icon-question-sign"></i> Google Maps Javascript API v3</a></li>		
	    				<li><a href="https://trello.com/b/WwTRrkfh/angular-google-maps"><i class="icon-trello"></i> Trello project management board</a></li>
	    			</ul>
	    		</li>
    		</ul>
    		<ul class="nav navbar-nav navbar-right">    	
	    		<li></li>
    		</ul>
    	</div>
    </nav>

    <div class="container">
	    	<!-- Add your site or application content here -->
	    	<div ng-view></div>
	</div>

	<a href="https://github.com/you"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png" alt="Fork me on GitHub"></a>
	
	<footer ng-controller="FooterCtrl">
		<div class="container">			
			<div ng-show='github != null' ng-cloak>
				<div class="well">
				<div class="row">
								<div class="col-md-3">
					<h3>Latest commit</h3>

					<a href="#!/">{{ github.commits.latest.author.login }}</a> on
					{{ github.commits.latest.commit.committer.date | date:"MMM d, y hh:mm" }}<br>

					<blockquote class="muted"><i>{{ github.commits.latest.commit.message }}</i></blockquote>
					<a class="btn btn-sm btn-primary" href="{{ github.commits.latest.html_url }}">More details</a>	
					
				</div>

				<div class="col-md-9">
					<h3>Issues <span class="badge">{{ github.issuesCount }}</h3>

					<ul class="list-unstyled">
						<li ng-repeat="issue in github.issues | limitTo:5 ">
							<a ng-href="{{ issue.url }}">{{ issue.title }}</a>
						</li>
					</ul>
					
					<a class="btn btn-sm btn-warning" href="https://github.com/nlaplante/angular-google-maps/issues?state=open">All issues</a>										

				</div>				
				</div>
				</div>
				<div class="well">
				
					<h1>Thank you for your collaborations!</h1>					
					

							<img ng-repeat="c in github.contributors" style="max-width: 15%; max-height: 64px" ng-src="{{ c.avatar_url }}" alt="{{ c.login }}" title="{{ c.login }}">

				</div>
				


			</div>
			<div class="row" ng-show='github == null' ng-cloak>
				<div class="alert alert-block">
					<h4>Uh oh...</h4>
					<p>We cannot fetch repository statistics for the moment. Please try again later.</p>
				</div>
			</div>

			<div class="row">
				<p class="text-center text-tiny copyright">
					&copy; 2013, <a href="https://github.com/nlaplante/angular-google-maps">angular-google-maps</a>
				</p>
			
				<ul class="list-unstyled list-inline text-center">
					<li><a href="http://angularjs.org/" rel="external"><img src="images/icon-angular.png" alt="AngularJS"></a></li>
					<li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" rel="external"><img src="images/icon-js.png" alt="JavaScript"></a></li>
					<li><a href="http://gruntjs.com/" rel="external"><img src="images/icon-grunt.png" alt="Grunt"></a></li>
					<li><a href="http://yeoman.io/" rel="external"><img src="images/icon-yeoman.png" alt="Yeoman"></a></li>
					<li><a href="http://coffeescript.org/" rel="external"><img src="images/icon-coffeescript.png" alt="CoffeeScript"></a></li>
					<li><a href="http://getbootstrap.com/" rel="external"><img src="images/icon-bootstrap.png" alt="Bootstrap"></a></li>					
				</ul>
			</div>

		</div>				
	</footer>

    <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>
    
    <script type="text/javascript" src="https://apis.google.com/js/platform.js">
	  {parsetags: 'explicit'}
	</script>

    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>

    <!-- build:js scripts/plugins.js -->
    <script src="bower_components/underscore/underscore.js"></script>
    <!-- endbuild -->

    <!-- build:js scripts/modules.js -->
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-google-maps/dist/angular-google-maps.js"></script>
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/module.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/use.js"></script>
    <script src="scripts/controllers/api.js"></script>
    <script src="scripts/controllers/demo.js"></script>
    <script src="scripts/controllers/headlines.js"></script>    
    <script src="scripts/controllers/footer.js"></script>
    <script src="scripts/services/github.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/directives/rel.js"></script>
    <!-- endbuild -->
</body>
</html>
