<p>The <code>google-map</code> directive is the core of all other directives. It is used to instantiate a Google Map object in
	your page. Every other directive must be contained within a <code>google-map</code> for them to work.</p>

<h4>Usage</h4>

<div hljs language="html" include="'googleMapTemplate'"></div>

<h4>Parameters</h4>

<p class="muted">Required properties are in <span class="text-error">red</span>.</p>

<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Param</th>
			<th>Type</th>
			<th>Details</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>center</td>
			<td><span class="label label-danger">expression</span></td>
			<td>Expression to evaluate as an object representing the map center.  May be in the form of an object containing <code>latitude</code> and <code>longitude</code> properties, or <span class="badge badge-info">New in v1.1</span> a <a href="http://geojson.org/geojson-spec.html#point">GeoJSON Point</a> object.</td>
		</tr>
        <tr>
            <td>pan</td>
            <td><span class="label label-danger">string or boolean</span></td>
            <td>
                This attribute is a flag indicate how the map's centering should behave. This tells the map to use map.panTo instead of map.setCenter. (Animate to center via pan or not.)
                <br/>
                <br/>
                <p>Note: Evaluated on the attribute only. This means it is is not watched or followed on the scope.</p>
                <p>The pan attribute will evaluate to true if any of the following are met:</p>
                <ul>
                    <li>angular.isDefined(val)</li>
                    <li>val isnt null</li>
                    <li>val is true </li>
                    <li>val is "1"</li>
                    <li>val is "y"</li>
                    <li>val is "true"</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>control</td>
            <td><span class="label label-default">Object</span></td>
            <td><code>{}</code> otherwise <code>undefined / null </code>
                <p></p>
                If some object is passed (via scope binding) functionality is appended to that object. This allows you to get "control" of the map.
                <br>
                <p>
                    The following functions are added:
                </p>
                <p></p>
                <p><code>getGMap:() </code> - returns the direct reference of the google map instance being used by the directive.</p>
                <p><code>refresh:(optionalCoords({latitude:, longitude}) </code>- refreshes the current map on its current coords if no coords are specified.</p>
                <p>example</p>
                <code>$scope.map.control.refresh({latitude: 32.779680, longitude: -79.935493});</code>
            </td>
        </tr>
		<tr>
			<td>zoom</td>
			<td><span class="label label-danger">expression</span></td>
			<td>Expression to evaluate as the map's zoom level. This must be a number between 1<sup>[1]</sup> and 20<sup>[2]</sup>.</td>
		</tr>
		<tr>
			<td>draggable</td>
			<td><span class="label label-default">string</span></td>
			<td><code>true</code> if map must be draggable, <code>false</code> otherwise</td>
		</tr>
		<tr>
			<td>refresh</td>
			<td><span class="label label-default">expression</span></td>
			<td>Expression which, if it evaluates to <code>true</code>, will trigger a map refresh. Useful when the map is
				initially hidden.</td>
		</tr>
		<tr>
			<td>options</td>
			<td><span class="label label-default">expression</span></td>
			<td>Additional options to pass to the google.maps.Map constructor. See <a href="https://developers.google.com/maps/documentation/javascript/reference#MapOptions" rel="extrnal">all map options</a></td>
		</tr>
		<tr>
			<td>events</td>
			<td><span class="label label-default">expression</span></td>
			<td>
			  <p>Custom events to apply to the map. This is an associative array, where keys are event names and values are handler functions. See <a href="https://developers.google.com/maps/documentation/javascript/reference#Map">Map Events documentation</a></p>
  		  <span>The handler function takes three parameters:</span>
  		  <ol>
  			  <li>maps: the GoogleMap object</li>
  			  <li>eventName: the name of the event</li>
  			  <li>arguments: the arguments provided by Google Maps for this event type. See <a href="https://developers.google.com/maps/documentation/javascript/reference#Map">the Google Map Event docs</a></li>
  		  </ol>
  		</td>
		</tr>
		<tr>
			<td>bounds</td>
			<td><span class="label label-default">expression</span></td>
			<td>Fit the map in the specified bounds. The expression must resolve to an object having both <code>northeast</code> and <code>southwest</code> properties. Each of those properties must have a <code>latitude</code> and a <code>longitude</code> properties.</td>
		</tr>
	</tbody>
</table>
<h4>Example</h4>
<runnable-example example="'google-map'"></runnable-example>

<script type="text/ng-template" id="googleMapTemplate">
<google-map center='{expression}' 
	zoom='{expression}'
	draggable='{string}'
	dragging='{expression}'
	refresh='{expression}'
	options='{expression}'
	events='{expression}'
	bounds='{expression}'
    pan='{string or boolean}'>
	
	<!-- other directives here -->
	
</google-map>	
</script>

