<p>The <code>google-map</code> directive is the core of all other directives. It is used to instantiate a Google Map object in
	your page. Every other directive must be contained within a <code>google-map</code> for them to work.</p>

<h4>Usage</h4>

<pre>&lt;google-map center='{expression}' 
	zoom='{expression}'
	draggable='{string}'
	dragging='{expression}'
	refresh='{expression}'
	options='{expression}'
	events='{expression}'
	bounds='{expression'}}&gt;

	...

&lt;/google-map&gt;</pre>

<h4>Parameters</h4>

<p class="muted">Required properties are in <span class="text-error">red</span>.</p>

<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Param</th>
			<th>Type</th>
			<th>Details</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="text-danger">center</td>
			<td><span class="label label-info">expression</span></td>
			<td>Expression to evaluate as an object representing the map center. The object must have <code>latitude</code> and
				<code>longitude</code> numeric properties.</td>
		</tr>
		<tr>
			<td class="text-danger">zoom</td>
			<td><span class="label label-info">expression</span></td>
			<td>Expression to evaluate as the map's zoom level. This must be a number between 1<sup>[1]</sup> and 20<sup>[2]</sup>.</td>
		</tr>
		<tr>
			<td>draggable</td>
			<td><span class="label label-info">string</span></td>
			<td><code>true</code> if map must be draggable, <code>false</code> otherwise</td>
		</tr>
		<tr>
			<td>refresh</td>
			<td><span class="label label-info">expression</span></td>
			<td>Expression which, if it evaluates to <code>true</code>, will trigger a map refresh.</td>
		</tr>
		<tr>
			<td>options</td>
			<td><span class="label label-info">expression</span></td>
			<td>Additional options to pass to the google.maps.Map constructor</td>
		</tr>
		<tr>
			<td>events</td>
			<td><span class="label label-info">expression</span></td>
			<td>Custom events to apply to the map. This is an associative array, where keys are event names and values are handler functions.</td>
		</tr>
		<tr>
			<td>bounds</td>
			<td><span class="label label-info">expression</span></td>
			<td></td>
		</tr>
	</tbody>
</table>