<p>The <code>layer</code> directive is used to draw different types of layers on the map. This has replaced the trafficlayer directive.</p>
	
<h4>Usage</h4>

<div hljs language="html" include="'layerTemplate'"></div>

<h4>Parameters</h4>

<p class="muted">Required properties are in <span class="text-error">red</span>.</p>

<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Param</th>
			<th>Type</th>
			<th>Details</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>type</td>
			<td><span class="label label-danger">string</span></td>
			<td>The type name of the layer. <a href="https://developers.google.com/maps/documentation/javascript/reference#layers" rel="external">Available layer types</a></td>
		</tr>
		<tr>
			<td>namespace</td>
			<td><span class="label label-info">string</span></td>
			<td>Some layers are part of a different namespace. For example, the <a href="https://developers.google.com/maps/documentation/javascript/reference#WeatherLayer" rel="external">WeatherLayer</a> is part of the <strong>weather</strong> namespace. Use this
			attribute to specify the correct namespace of the layer you want to use.</td>
		</tr>
		<tr>
			<td>options</td>
			<td><span class="label label-info">expression</span></td>
			<td>Object containing the options for the requested layer type. See the <a href="https://developers.google.com/maps/documentation/javascript/reference#layers" rel="external">different layer types</a>
			for information about their respective options.</td>
		</tr>
		<tr>
			<td>show</td>
			<td><span class="label label-info">expression</span></td>
			<td>boolean value which shows or hides the layer</td>
		</tr>
		<tr>
			<td>onCreated (develop branch)</td>
			<td><span class="label label-info">expression</span></td>
			<td>A function to call when the directive is initialized. This is useful where layers need additional initialization steps. (ie: setting its data to render)
				See <a href="https://github.com/nlaplante/angular-google-maps/blob/18aeb777ebe79ee6db5dfdaf0981ca734c329180/example/example-controller.js#L51-L53">heatMap onCreated</a> to initialize <a href="https://github.com/nlaplante/angular-google-maps/blob/90f46469e9535ff9e8871273ce4877c4474ca158/example/mock-heat-layer.js">mock data.</a>

				Also see Google's api for <a href="https://developers.google.com/maps/documentation/javascript/reference#HeatmapLayer">HeatmapLayer</a>

			</td>
		</tr>
	</tbody>
</table>

<h4>Example</h4>
<runnable-example example="'layer'"></runnable-example>

<script type="text/ng-template" id="layerTemplate">
<layer type='{string}'
	namespace='{string}'
	options='{expression}'
	show='{expression}'>
</layer>
</script>
