 <span class="badge badge-info">New in v1.2.0
 </span><p>The <code>marker-label</code> directive <strong>was</strong> used to create a marker labels on an existing map. As a child of the marker element.
  This directive has been removed and your should now use <a href="#marker"/> or <a href="#markers"/> options. Where the label options are now defined in options.

  It was removed as the code is more maintainable where MarkerLabel is now decided in the underlying MarkerChild which both Marker and Markers directives ultimatley create.
</p>
