 <span class="badge badge-info">New in v2.0.0</span>
 <span class="label label-danger" >OBSOLETE / REMOVED</span>
 <p>
  The <code>marker-label</code> directive <strong>was</strong> used to create a marker with a label on an existing map as a child of the marker element / directive.
  This directive has been removed and your should now use <a href="#marker">marker</a> or <a href="#markers">markers</a> options attribute. The label options are now combined all into one options object to handle all marker customizations.

  It was removed as the code is more maintainable where a MarkerLabel is now decided in the underlying MarkerChild which both Marker and Markers directives ultimately create.
</p>
