<p>The <code>polygon</code> directive is used to draw polygon shape layers on the map.
See <a href="https://developers.google.com/maps/documentation/javascript/reference#Polygon" rel="external">Polygon API</a>.</p>
	
<h4>Usage</h4>

<div hljs language="html" include="'polygonTemplate'"></div>

<h4>Parameters</h4>

<p class="muted">Required properties are in <span class="text-error">red</span>.</p>

<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Param</th>
			<th>Type</th>
			<th>Details</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>path</td>
			<td><span class="label label-danger">expression</span></td>
			<td>
			  <p>The coordinates of the points defining the outer shell of the polygon.</p>
			  <p>May be in the form of an array of objects containing <code>latitude</code> and <code>longitude</code> properties, or <span class="badge badge-info">New in v1.1</span> an array of <a href="https://developers.google.com/maps/documentation/javascript/reference#LatLng">Google Maps LatLng</a> objects. Alternatively <span class="badge badge-info">New in v1.1</span>, a <a href="http://geojson.org/geojson-spec.html#polygon">GeoJSON Polygon</a> object.</p>
			  <p>For the case of the GeoJSON Polygon object, only the outer ring (ring index 0) is used to display the polygon.  Inner holes (ring indices 1...n) of the Polygon are not displayed.</p>
		  </td>
		</tr>
		<tr>
			<td>fill</td>
			<td><span class="label label-danger">expression</span></td>
			<td>Object to configure the polygon fill type. Valid properties are <code>color</code> (CSS hex notation) 
			and <code>opacity</code> (between 0.0 and 1.0)</td>
		</tr>		
		<tr>
			<td>stroke</td>
			<td><span class="label label-danger">expression</span></td>
			<td>Object to configure the line stroke. Valid properties are <code>color</code> (CSS hex notation),
			<code>weight</code> (int) and <code>opacity</code> (between 0.0 and 1.0)</td>
		</tr>
		<tr>
			<td>clickable</td>
			<td><span class="label label-info">expression</span></td>
			<td>boolean property to tell the polygon to respond to click events</td>
		</tr>
		<tr>
			<td>draggable</td>
			<td><span class="label label-info">expression</span></td>
			<td>boolean property to make the polygon draggable across the map</td>
		</tr>
		<tr>
			<td>editable</td>
			<td><span class="label label-info">expression</span></td>
			<td>boolean property to make the polyline editable by dragging control points</td>
		</tr>
		<tr>
			<td>geodesic</td>
			<td><span class="label label-info">expression</span></td>
			<td>boolean property to make the polyline follow the curvature of the earth</td>
		</tr>
		<tr>
			<td>icons</td>
			<td><span class="label label-info">expression</span></td>
			<td>TODO</td>
		</tr>
		<tr>
			<td>visible</td>
			<td><span class="label label-info">expression</span></td>
			<td>boolean property which shows or hides the polygon</td>
		</tr>
		<tr>
			<td>zindex</td>
			<td><span class="label label-info">expression</span></td>
			<td><span class="badge badge-info">New in v1.1</span> The zIndex compared to other polygons</td>
		</tr>
		<tr>
			<td>static</td>
			<td><span class="label label-info">expression</span></td>
			<td>
			  <p><span class="badge badge-info">New in v1.1</span> Boolean property which indicates that the polygon coordinates are static. (I.e. will not change).</p>
			  <p>Declaring a static path will improve the performance of the directive as it does not need to monitor every coordinate in the path for changes during the Angular $digest cycle.</p>
			  <span>Notes:</span>
			  <ul>
			    <li>Declaring a static path implies that it is not editable. As a result, the <code>editable</code> parameter will be ignored.</li>
			    <li>For static paths, the path attribute will watched by reference so the path may be changed in its entirety and the map will update.</li>
			    <li>Changes to the static declaration are ignored after the directive is instantiated.</li>
			  </ul>
		  </td>
		</tr>
        <tr>
            <td>icons</td>
            <td><span class="label label-info">expression</span></td>
            <td><span class="badge badge-info">New in v1.1</span> An Array of icons objects that contain the following properties:
                <ul>
                    <li>icon.path</li>
                    <li>offset</li>
                    <li>repeat</li>
                </ul>
                example:
<pre>
icons = [{
    icon: {
    path: google.maps.SymbolPath.BACKWARD_OPEN_ARROW
    },
    offset: '25px',
    repeat: '50px'
}]
</pre>
            </td>
        </tr>
		<tr>
			<td>events</td>
			<td><span class="label label-info">expression</span></td>
			<td>
			  <p><span class="badge badge-info">New in v1.1</span> Custom events to apply to the polygon. This is an associative array, where keys are event names and values are handler functions. See <a href="https://developers.google.com/maps/documentation/javascript/reference#Polygon">polygon events</a>.</p>
			  <span>The handler function takes three parameters:</span>
			  <ol>
  			  <li>polygon: the GoogleMaps Polygon object</li>
  			  <li>eventName: the name of the event</li>
  			  <li>arguments: the arguments provided by Google Maps for this event type. See <a href="https://developers.google.com/maps/documentation/javascript/reference#Polygon">the Polygon docs</a></li>
			    
			  </ol>
		  </td>
		</tr>
	</tbody>
</table>

<h4>Example</h4>
<runnable-example example="'polygon'"></runnable-example>

<script type="text/ng-template" id="polygonTemplate">
<polygon path='{expression}'
	fill='{expression}'
	stroke='{expression}'
	clickable='{expression}'
	draggable='{expression}'
	editable='{string}'
	geodesic='{expression}'
	icons='{expression}'
	visible='{expression}'
	zindex='{expression}'
	static='{expression}'
	events='{expression}'
    icons='{expression}'
>
</polygon>
</script>

