<table class="table table-bordered table-striped">
    <tbody>
    <tr>
        <td>control</td>
        <td><span class="label label-default">Object</span></td>
        <td>
            <span class="badge badge-info">New in v2.0.13</span>

            <p></p>
            <code>{}</code> otherwise <code>undefined / null </code>

            <p></p>
            If some object is passed (via scope binding) functionality is appended to that object. This allows you to
            get "control" of some
            underlying logic of the marker directive.
            <br>

            <p>
                The following functions are added:
            </p>

            <p></p>

            <p><code>getPlurals() </code> - Array of all the child model objects associated with a specific directive.
            </p>

            <p>example</p>
            <code>$scope.markerControl.getPlurals();</code>

            <p>example: get a specific ChildMarker by id/idKey</p>
            <code>$scope.markerControl.getPlurals().get(id)</code>

            <p></p>

            <p><code>updateModels(modelsArray) </code> - A function to manually update the directives state without a
                $watch.</p>

            <p></p>

            <p><code>newModels(modelsArray) </code> - A function to manually rebuild (from scratch) the directives state
                without a $watch. Same as doRebuildAll but manually.</p>

            <p></p>

            <p><code>clean()</code> - A function to manually destroy the underlying child models which should remove all
                gObjects from the map.</p>

            <p></p>

            <p><code>getManager()</code> - A function to obtain an underlying gObjects manager (if it has one).</p>

            <p></p>

            <p><code>hasManager()</code> - A function to check if a manager exist for this plural directive.</p>

            <p></p>

            <p><code>managerDraw()</code> - A function to force a underlying manager to draw and update the maps state.
                (if it has one)</p>
        </td>
    </tr>
    <tr>
        <td>chunk</td>
        <td><span class="label label-default">Falsy or Numeric</span></td>
        <td>
            <span class="badge badge-info">New in v2.0.13</span>

            <p></p>
            <code>false or 10, '10', '1000' </code> otherwise <code>20//default milliseconds</code>

            <p></p>
            This is the attribute for all plural directives to turn off chunking (false) or change the chunk size.
            <br>
        </td>
    </tr>
    <tr>
        <td>cleanchunk</td>
        <td><span class="label label-default">Falsy or Numeric</span></td>
        <td>
            <span class="badge badge-info">New in v2.0.13</span>

            <p></p>
            <code>false or 10, '10', '1000' </code> otherwise <code>20//default milliseconds</code>

            <p></p>
            This is the attribute for all plural directives to turn off chunking (false) or change the chunk size.
            For a directives destruction. Therefore this sets chunking on the iterator in scope.$destroy.
            <br>
        </td>
    </tr>
    <tr>
        <td>doRebuildAll</td>
        <td><span class="label label-info">expression</span></td>
        <td>boolean property to tell the directive to refresh all the markers on any kind change to models. (Think
            legacy "flash"). Yes sometimes this is wanted.
        </td>
    </tr>
    </tbody>
</table>