<div>
    <div>
        <button ng-click="click()">index.html</button>
        <button ng-click="click()">script.js</button>
        <button style="float:right" ng-click="editPlnkr()">Edit in Plnkr</button>
    </div>
    <div ng-show="index">
        <pre ng-non-bindable></pre>
    </div>
    <div ng-show="script">
        <pre ng-non-bindable></pre>
    </div>
    <div style="width:100%; height: 350px; padding:4px;">
        <iframe style="width: 100%; height: 100%"></iframe>
    </div>
</div>