<h2 id="Logger">uiGmapLogger Service</h2>
This logger utilizes $log underneath. The API now logs errors by default with the logger enabled.
Therefore the default <code>currentLevel</code> is "error".
<br>
<a href="https://github.com/angular-ui/angular-google-maps/blob/develop/src/coffee/directives/api/utils/logger.coffee">source code</a>

<div hljs language="js">
.controller("someController", function(uiGmapLogger) {
    //uiGmapLogger.doLog = true; //no longer necessary, but if you want to disable it set it false or change currentLevel
    uiGmapLogger.currentLevel = uiGmapLogger.LEVELS.debug;
    log.info("hmm"); //not logged
    log.debug("huh!"); //logged
    log.warn("uhoh!"); //logged
    log.error("oh crap!"); //logged
});
</div>
