<div class="uiGmapPromise uigmap-api">
Service is a utility to aid in Angular $q promises. It is primarily used for its extensions of
<code>ExposedPromise</code> and <code>SniffedPromise</code> by <a ui-sref="api.Async" href="#!/api">uiGmap_Async</a>.
<br/><br/>
<a href="https://github.com/angular-ui/angular-google-maps/blob/develop/src/coffee/directives/api/utils/promise.coffee">source code</a>

<table class="table table-bordered table-striped">
      <tr>
          <th class="small">Functions / Classes</th>
          <th class="small">Type</th>
          <th class="small">Args</th>
          <th class="small">Returns</th>
          <th class="details">Details</th>
      </tr>
    <tr>
        <td>defer</td>
        <td><span class="label label-info">function</span></td>
        <td><span class="label label-info">None</span></td>
        <td><span class="label label-info">Angular Deferred</span></td>
        <td>
          acessor to $q.defer
        </td>
    </tr>
    <tr>
        <td>promise</td>
        <td><span class="label label-info">function</span></td>
        <td><span class="label label-info">function</span></td>
        <td><span class="label label-info">Angular Promise</span></td>
        <td>
          Executes a function immediatley but its result is resolved.
          To access the result use the Angular Promise API.
        </td>
    </tr>
    <tr>
        <td>resolve</td>
        <td><span class="label label-info">function</span></td>
        <td><span class="label label-info" title="But should have at least one to resolve something other than defined. (TODO)">None</span></td>
        <td><span class="label label-info">Angular Promise</span></td>
        <td>
          Creates a resolved promise and returns it. This is useful for scenarios where you want your
          code to flow in a similar manner for cases where no promise exist.
          Think bluebird <a href="https://github.com/petkaantonov/bluebird/blob/master/API.md#promiseresolvedynamic-value---promise">Promise.resolve()</a> as this is it's intention.
        </td>
    </tr>
    <tr>
        <td>promiseTypes</td>
        <td><span class="label label-info">Object</span></td>
        <td><span class="label label-info">NA</span></td>
        <td><span class="label label-info">NA</span></td>
        <td>
          Returns an object that has fields that represent a Promises intent.
          <code>
            create : 'create'<br/>
            update : 'update'<br/>
            delete : 'delete'<br/>
            init: 'init'
          </code>
        </td>
    </tr>
    <tr>
        <td>promiseStatus</td>
        <td><span class="label label-info">Object</span></td>
        <td><span class="label label-info">NA</span></td>
        <td><span class="label label-info">NA</span></td>
        <td>
          Returns an object that has fields that represent a Promises status enum.
          <code>
            IN_PROGRESS: 0 <br/>
            RESOLVED: 1 <br/>
            REJECTED: 2 <br/>
          </code>
        </td>
    </tr>
    <tr>
        <td>isInProgress</td>
        <td><span class="label label-info">function</span></td>
        <td><span class="label label-info">Angular Promise</span></td>
        <td><span class="label label-info">Boolean</span></td>
        <td>
          Checks the state of an Angular Promise and returns true if it is in progress.
        </td>
    </tr>
    <tr>
        <td>isResolved</td>
        <td><span class="label label-info">function</span></td>
        <td><span class="label label-info">Angular Promise</span></td>
        <td><span class="label label-info">Boolean</span></td>
        <td>
          Checks the state of an Angular Promise and returns true if it is resolved.
        </td>
    </tr>
    <tr>
        <td>ExposedPromise</td>
        <td><span class="label label-info">function</span></td>
        <td><span class="label label-info">Angular Promise</span></td>
        <td><span class="label label-info">ExposedPromise</span></td>
        <td>
          Wrapps an Angular Promise and allows a promise to be cancelable. This class combined with
          <code>SniffedPromise</code> allows the API to check a Promise for its intention and decide whether to allow a promise to continue or not.
          This is useful in scenarios where Promises are being queued up and can be forgotten/dropped.
          <br/>
          <br/>
          Methods:
          <code>cancel</code>
          <code>notify</code>
        </td>
    </tr>
    <tr>
        <td>SniffedPromise</td>
        <td><span class="label label-info">function</span></td>
        <td>
          <div>
            <span class="label label-info" title="that returns a Promise that has not been started">
              function
            </span>
            <span class="label label-info" title="(see above) - intention of the non-exec promise.">
              promiseType
            </span>
          </div>
        </td>
        <td><span class="label label-info">SniffedPromise</span></td>
        <td>
          This is a utility function to possibly kick off a promise if its intended promiseType is
          acceptable. The whole purpose of this is to give a Promise intent without starting it.
          <br/>
          <br/>
          Args:
          <br/>
          <code>fnPromise</code> - function that returns a Promise that has not been started.<br/>
          <code>promiseType</code> - The associated promises intent. <br/>

          <br/>
          Returned Object (SniffedPromise)<br/>
          <code>promise</code> - fnPromise alias <br/>
          <code>promiseType</code>
        </td>
    </tr>
    </tbody>
</table>
</div>
