<!DOCTYPE html>

<html ng-app="google-maps" lang="en">

<head>
	<meta charset="UTF-8">
	
	<meta name="keywords" content="angular.js,google maps,javascript,plugin">
	<meta name="description" content="Add Google Maps support to your Angular.js application">
	
	<title>nlaplante/angular-google-maps &mdash; Google Maps for Angular.js</title>
	
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Istok+Web:400,400italic,700,700italic">
	<link rel="stylesheet" href="css/prettify.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	
	<style>
	body {	
		padding-top: 60px;
		font-size: 15px;
	}
	
	body,p,label,input,textarea {
		font-family: "Istok Web", Arial, Helvetica, Sans-Serif;
	}
	
	p {
		line-height: 22px;
	}
	
	.angular-google-map {
		height: 400px;
		border: 10px #fff solid;
		margin-bottom: 20px;
		box-shadow: 0 0 5px -2px rgba(0, 0, 0, 1);
	}
	
	.angular-google-map img {
		max-width: inherit !important;
	}
	
	legend {
		margin-bottom: 10px;
	}
	
	pre {
		margin-bottom: 30px;
	}
	
	footer {
		margin-top: 40px;
		padding: 20px 0;
		border-top: 1px #eee solid;		
	}
	
	footer .pull-right {
		text-align: right;
	}
	</style>
</head>

<body ng-controller="DemoController">

	<div class="navbar navbar-fixed-top">
    	<div class="navbar-inner">
    		<div class="container">
    			<a class="brand" href="#">nlaplante/angular-google-maps</a>
    			
    			<ul class="nav">
    				<li class="active"><a href="#">Demo</a></li>
    				<li><a href="https://github.com/nlaplante/angular-google-maps" rel="external">View on GitHub</a></li>
    			</ul>
    		</div>
    	</div>
    </div>
	
	<div class="container">
	
		<div class="hero-unit">
			<h1>Google Maps for Angular.js</h1>
			<p>Simple to use #angularjs directive to work with Google Maps inside your applications.</p>
			<a class="btn btn-large btn-primary" href="https://raw.github.com/nlaplante/angular-google-maps/master/src/angular-google-maps.js">Download</a>
			<a class="btn btn-large" href="https://github.com/nlaplante/angular-google-maps">View on GitHub</a>
		</div>
		
		<p>Google offers a <a href="https://developers.google.com/maps/documentation/javascript/reference" rel="external">very nice API</a> to work with maps inside your web pages. However, it requires quite a bit of
		Javascript code to make it work and sooner or later the code becomes a big mess.</p>
		
		<p>Google also offers a very nice MVC framework called <a href="http://angularjs.org/" rel="external">Angular.js</a> that is a real pleasure to work with. Since
		Angular.js doesn't ship with Google Maps support built-in, I decided to make a directive for it which you can include in
		your projects. It allows you to work with Google Maps with a really simple <code>&lt;google-map&gt;</code> element.</p>
		
		<h2>Usage</h2>
		
		<p>Before using <b>angular-google-maps</b> you must include the main <a href="https://developers.google.com/speed/libraries/devguide#angularjs" rel="external">Angular.js library</a>, 
		the Google Maps library and the <i>angular-google-maps.js</i> script:</p>
		
		<pre class="prettyprint lang-html">&lt;script src="http://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&sensor=false&language=en"&gt;&lt;/script&gt;
&lt;script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js"&gt;&lt;/script&gt;
<strong>&lt;script src="/path/to/angular-google-maps.js"&gt;&lt;/script&gt;</strong>
&lt;script src="/path/to/your-angular-controller.js"&gt;&lt;/script&gt;</pre>

		<p>Next, inside your controller, you'll need to define some properties required for the directive to work:</p>
		
		<pre class="prettyprint lang-javascript">$scope.extend({
	center: {
		lat: 0, // initial map center latitude
		lng: 0, // initial map center longitude
	},
	markers: [], // an array of markers,
	zoom: 8, // the zoom level
});</pre>

		<p>Now, include the <code>&lt;google-map&gt;</code> element in your template:</p>
		
		<pre class="prettyprint lang-html">&lt;google-map center="center" draggable="true" zoom="zoom" markers="markers" mark-click="true" style="height: 400px"&gt;&lt;/google-map&gt;</pre>
		
		<p>You <b>will</b> need to set a proper height on the <code>&lt;google-map&gt;</code> element for it to render properly.</p>
		
		<p>If you use the map in an element which is hidden at the moment of initialization, the map will need to 
		be refreshed when it becomes visible. Use the <code>refresh</code> for this:</p>
		
		<pre class="prettyprint lang-html">&lt;google-map center="center" zoom="zoom" markers="markers" refresh="!isMapElementHidden" style="height: 400px"&gt;&lt;/google-map&gt;</pre>
		
		<p>The value of the <code>refresh</code> attribute is an expression used to trigger a map refresh when it returns true.</p>
		
		<p>Here is the list of all attributes supported by the <code>&lt;google-map&gt;</code> element:</p>
		
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Attribute</th>
					<th>Required</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>center</td>
					<td>yes</td>
					<td>A javascript object having <code>lat</code> and <code>lng</code> properties representing the center of the map</td>
				</tr>
				<tr>
					<td>zoom</td>
					<td>yes</td>
					<td>Map zoom level</td>
				</tr>
				<tr>
					<td>draggable</td>
					<td></td>
					<td>If set to true, the user will be able to drag the map. When the map is dragged, the center scope property will be updated
					with the new center position.</td>
				</tr>					
				<tr>
					<td>markers</td>
					<td></td>
					<td>An array of objects having <code>latitude</code> and <code>longitude</code> properties. When this array
					is not empty, a marker will be added to the map for each of them.</td>
				</tr>
				<tr>
					<td>mark-click</td>
					<td></td>
					<td>If set to true, a marker will be added to the map upon click. If the user clicks again, the marker will 
					be moved to the new position. The <code>latitude</code> and <code>longitude</code> scope properties
					will also be updated.</td>
				</tr>
				<tr>
					<td>marker-icon</td>
					<td></td>
					<td>Absolute url to an image which will be used as marker image</td>
				</tr>
				<tr>
					<td>refresh</td>
					<td></td>
					<td>Expression which, when returning true, will trigger a map refresh</td> 
			</tbody>
		</table>
		
		<hr>
		
		<h2>Try it</h2>
		
		<div class="row">
			<form class="form-horizontal" name="angularGoogleMapsForm" novalidate>
				<div class="span5">				
					<fieldset>						
						
						<p>The coordinates and zoom level are adjusted automatically as you wiggle the map around:</p>
						
						<legend>Coordinates:</legend>
						<div class="control-group">
							<label class="control-label">Latitude:</label>
							<div class="controls">
								<input type="number" ng-model="center.lat">
							</div>
						</div>
						
						<div class="control-group">
							<label class="control-label">Longitude:</label>
							<div class="controls">
								<input type="number" ng-model="center.lng">
							</div>
						</div>
						
						<div class="control-group" ng-hide="!latitude || !longitude">
							<label class="control-label">Clicked marker position:</label>
							<div class="controls">
								{{ latitude }}, {{ longitude }}
							</div>
						</div>						
						
						<div class="control-group">
							<label class="control-label">Zoom level:</label>
							<div class="controls">
								<input type="number" ng-model="zoom" class="input-mini">
							</div>
						</div>
					</fieldset>
					
					<fieldset>
					<legend><ng-pluralize count="markers.length" when="{'0': 'Add a marker', '1': '1 marker', 'other': '{} markers'}"></legend>
					
					<p>Add new markers on the map by entering their coordinates in the fields below:</p>
					
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Latitude</th>
								<th>Longitude</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="marker in markers">
								<td>{{ marker.latitude }}</td>
								<td>{{ marker.longitude }}</td>
								<td></td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td><input type="number" class="input-small" ng-model="markerLat" name="markerLat" required></td>
								<td><input type="number" class="input-small" ng-model="markerLng" name="markerLng" required></td>
								<td><button class="btn" ng-click="addMarker()" 
									ng-disabled="angularGoogleMapsForm.markerLat.$invalid || angularGoogleMapsForm.markerLng.$invalid">Add <i class="icon icon-plus-sign"></i></button></td>
							</tr>
						</tfoot>
					</table>
					
					
				</fieldset>
				
			</div>
			
			<div class="span7">
					<google-map center="center" draggable="true" zoom="zoom" markers="markers" mark-click="true"
						latitude="latitude" longitude="longitude"></google-map>
			</div>
			</form>
		</div>
		
		<footer>
			<div class="row">
				<div class="span6">
					Copyright &copy; 2012 <a rel="author external" href="https://plus.google.com/108189012221374960701">Nicolas Laplante</a>. All rights reserved.
				</div>
				
				<div class="span6 pull-right">
					Built using <a href="http://angularjs.org" rel="external">Angular.js</a>
					and <a href="http://twitter.github.com/bootstrap" rel="external">Twitter Bootstrap</a>.
				</div>
			</div>
		</footer>
		
	</div>
	
	<a href="https://github.com/nlaplante/angular-google-maps" rel="external">
		<img style="position: fixed; top: 0; right: 0; border: 0; z-index: 1040" 
			src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub">
	</a>
	
	<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyA4KGVdG41difNsFwAUlkF1hSTwGMMWr14&sensor=false&language=en"></script>
	<script src="js/jquery-1.8.0.min.js"></script>
	<script src="js/prettify.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/angular-1.0.1.js"></script>
	<script src="js/angular-bootstrap-1.0.1.js"></script>
	<script src="js/angular-sanitize-1.0.1.js"></script>	
	<script src="js/angular-google-maps.js"></script>
	<script src="js/demo-controller.js"></script>
	<script>
		$(function () {
			prettyPrint();			
			$("a[rel~=external]").attr("target", "_blank");
		});
	</script>
	
</body>

</html>
