<h2 id="String">String Prototypes</h2>
Following prototypes were added:
        <ul>
            <li>
                <strong>ns():</strong> alias to flare
            </li>
            <li>
                <strong>flare():</strong>
                Prepends 'uiGmap' to any string. This makes changing the global namespace for
                the entire application easy.
                <br>
                <strong>contains(stringToSearch):</strong>
                 Returns true if a stringToSearch exists in this string.
            </li>
        </ul>

<a href="https://github.com/angular-ui/angular-google-maps/blob/develop/src/coffee/extensions/string.coffee">
    source code</a>

<div hljs language="js">
    var someStr = "some".ns();
    console.info(someStr); //out puts "uiGmapsome"

    var doesHaveUiGmap someStr.contains("uiGmap");
    //doesHaveUiGmap is now true
</div>
