<h2 id="GoogleMapsApiLoader">GoogleMapsApi Provider <span class="badge badge-info">New in v2.0.0</span></h2>
Alias: <strong>(Google Maps SDK Async Loader)</strong><br><br>
This provider is was created for a few reasons:
<ul>
    <li>
        <a href="https://developers.google.com/maps/documentation/javascript/tutorial#asynch">google recommends loading
            the sdk this way</a>
    </li>
    <li>
        It garuntees that angular-google-maps does not begin processing any directives until all of the google maps sdk
        is fully ready!
    </li>
</ul>
To utilize this provider you must load it and configure it properly. Please note the
<a href="https://github.com/angular-ui/angular-google-maps/blob/develop/src/coffee/providers/map-loader.coffee#L31-L50">defaults</a>!

<h3> Configure</h3>
<div hljs language="js">
    //'GoogleMapApiProvider'.ns() == 'uiGmapGoogleMapApiProvider'
    .config(['GoogleMapApiProvider'.ns(), function (GoogleMapApi) {
        GoogleMapApi.configure({
            //    key: 'your api key',
            v: '3.17',
            libraries: 'weather,geometry,visualization'
        });
    }])
</div>
<h3> When is Google SDK ready?</h3>
<div hljs language="js">
    .controller("someController",['$scope', 'GoogleMapApi'.ns(),
        //do stuff with your $scope
        // it should be NOTED that some of the directives at least require something to be defined originally
        // ie:
        // $scope.markers = [] // and not undefined!


        /*
        * GoogleMapApi is a promise with a
        * then callback of the google.maps object
        *   @pram: maps = google.maps
        */
        GoogleMapApi.then(function(maps) {

        });
    }]);
</div>