<h1 class="page-header">API documentation</h1>
<div class="row">
    <div class="col-xs-12 col-sm-3">
        <div affix offset-top="200" offset-bottom="650">
            <div class="well">

                <input type="search" class="form-control" ng-model="query" placeholder="Search...">

                <ul class="nav nav-list" id="docs-api-menu">
                    <li class="delimiter"></li>
                    <li class="nav-header">Providers</li>
                    <li ng-repeat='d in providers | filter:query' class="animate-repeat"><a ui-sref="api.{{d}}">{{ d
                        }}</a></li>
                    <li class="nav-header">Services</li>
                    <li ng-repeat='d in services | filter:query' class="animate-repeat"><a ui-sref="api.{{d}}">{{ d
                        }}</a></li>
                    <li class="nav-header">Directives</li>
                    <li ng-repeat='d in directives | filter:query' class="animate-repeat"><a ui-sref="api.{{d}}">{{ d
                        }}</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-9">
        <div class="panel-group" id="directivesAccordion">
            <div class="panel panel-default animate-repeat">
                <div class="panel-heading">
                    <div class="panel-title">
                        <a href='' data-toggle="collapse" data-target="#content{{ current }}">
                            {{ current }}
                        </a>
                    </div>
                </div>
                <div class="panel-collapse collapse" ng-class="'in'">
                    <div class="panel-body">
                        <ui-view></ui-view>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
