<footer ng-controller="FooterCtrl">
	<div class="container">			
		<div ng-show='github != null' ng-cloak>

				<div class="row">
					<div class="col-md-3">
						<h3>Latest commit</h3>

						<p>{{ github.commits.latest.commit.committer.date | date:"MMM d, y hh:mm" }}<br>
						by <a href="#!/">{{ github.commits.latest.author.login }}</a> on branch 
						<a ng-href="https://github.com/nlaplante/angular-google-maps/tree/{{ github.branch }}" rel="external">{{ github.branch }}</a></p>
						
						<blockquote class="muted"><i>{{ github.commits.latest.commit.message }}</i></blockquote>
						<a class="btn btn-sm btn-default" href="{{ github.commits.latest.html_url }}">More details</a>					
					</div>

					<div class="col-md-5">
						<h3>Issues <small class="pull-right"><a href="https://github.com/nlaplante/angular-google-maps/issues?state=open">show all</a></small></h3>

						<ul class="list-unstyled separated">
							<li ng-repeat="issue in github.issues | limitTo:8 ">
								<span class="label label-default">{{ issue.number }}</span>&nbsp;
								<a ng-href="{{ issue.html_url }}" rel="external">{{ issue.title }}</a>
							</li>
						</ul>									
					</div>
					
					<div class="col-md-4">
						<h3>Activity <small class="pull-right"><a href="https://github.com/nlaplante/angular-google-maps/pulse">show all</a></small></h3>
					
						<ul class="list-unstyled separated">
							<li ng-repeat="e in github.events | limitTo: 5">
								<small class="muted">{{ e.created_at | date:"MMM d, y, hh:mm"}}</small><br>
								<a ng-href="{{ e.actor.url }}" rel="external nofollow">{{ e.actor.login }}</a>
								<span ng-bind-html="eventLabel(e)"></span>
							</li>
						</ul>
						

					</div>
				</div>

				<h3>Thank you for your collaborations!</h3>
				<a ng-href="{{ c.url }}" rel="external nofollow" ng-repeat="c in github.contributors">
					<img style="max-width: 15%; max-height: 64px" ng-src="{{ c.avatar_url }}" alt="{{ c.login }}" title="{{ c.login }}">
				</a>

		</div>
		<div class="row" ng-show='github == null' ng-cloak>
			<div class="alert alert-block">
				<h4>Uh oh...</h4>
				<p>We cannot fetch repository statistics for the moment. Please try again later.</p>
			</div>
		</div>

		<div class="row">
			<p class="text-center text-tiny copyright">
				&copy; 2013, 2014 <a href="https://github.com/nlaplante/angular-google-maps" rel="external">angular-google-maps</a>
			</p>
		
			<ul class="list-unstyled list-inline text-center">
				<li><a href="http://angularjs.org/" rel="external"><img src="/images/icon-angular.png" alt="AngularJS"></a></li>
				<li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" rel="external"><img src="/images/icon-js.png" alt="JavaScript"></a></li>
				<li><a href="http://gruntjs.com/" rel="external"><img src="/images/icon-grunt.png" alt="Grunt"></a></li>
				<li><a href="http://yeoman.io/" rel="external"><img src="/images/icon-yeoman.png" alt="Yeoman"></a></li>
				<li><a href="http://coffeescript.org/" rel="external"><img src="/images/icon-coffeescript.png" alt="CoffeeScript"></a></li>
				<li><a href="http://getbootstrap.com/" rel="external"><img src="/images/icon-bootstrap.png" alt="Bootstrap"></a></li>					
			</ul>
		</div>

	</div>				
</footer>

