<h1 class="page-header">Quickstart</h1>

<div class="row">
	<div class="col-md-12">
		<p>To start using Google Maps for AngularJS, follow these simple steps to get started. Once you're up and running,
			visit the <a href="/api">API documentation</a> to learn how to get the most out of it.</p>

		<ol class="steps">
			<li>
				<a href="https://raw.github.com/angular-ui/angular-google-maps/master/dist/angular-google-maps.js">Download angular-google-maps.js</a>
                (<a href="https://raw.github.com/angular-ui/angular-google-maps/master/dist/angular-google-maps.min.js">minified version</a>)
				and put it with your other scripts. Alternatively, you can use bower to install it automatically:

				<div hljs language="bash">bower install angular-google-maps</div>
				
				If you're not using bower, you'll need to fetch <a href="http://lodash.com/" rel="external">lodash.js</a> (underscore build) and save it
				alongside your other scripts.
			</li>
			<li>
				Include the Google Maps API v3, lodash and angular-google.maps.js in your index.html or layout template:
				<div hljs source="'<script src=\'//maps.googleapis.com/maps/api/js?sensor=false\'></script>
<script src=\'/path/to/lodash.underscore[.min].js\'></script>
<script src=\'/path/to/angular-google-maps[.min].js\'></script>'"></div>
			</li>
			<li>
				Make your application module depend on the <code>google-maps</code> module:
				<div hljs>angular.module('myApplicationModule', ['google-maps']);</div>
			</li>
			<li>
				Add a <code>map</code> object in your scope like this:
				<div hljs language="javascript">
$scope.map = {
	center: {
		latitude: 45,
		longitude: -73
	},
	zoom: 8
};</div>
				<p class="muted">Note: this is the very minimal set of properties required for the map to work.
					See the <a href="/api">API documentation</a> for the full list of supported properties.</p>
			</li>
			<li>
				Add a <code>&lt;google-map&gt;</code> element in your template like this:
				<div hljs><google-map center='map.center' zoom='map.zoom'></google-map></div>
			</li>
			<li>
				Specify an height via CSS for the map container:
				<div hljs>.angular-google-map-container { height: 400px; }</div>
			</li>
		</ol>
	</div>
</div>

