<h1 class="page-header">Quickstart</h1>

<p>To start using Google Maps for AngularJS, follow these simple steps to get started. Once you're up and running,
	visit the <a href="#!/api">API documentation</a> to learn how to get the most out of it.</p>

<ol class="steps">
	<li>
		<a href="https://raw.github.com/nlaplante/angular-google-maps/master/dist/angular-google-maps.js">Download angular-google-maps.js</a> (<a href="https://raw.github.com/nlaplante/angular-google-maps/master/dist/angular-google-maps.min.js">minified version</a>) and put it with your other scripts. Alternatively, you can use bower to install it automatically:

		<pre>bower install angular-google-maps</pre>
	</li>
	<li>
		Include the Google Maps API v3 script and angular-google.maps.js in your index.html or layout template:

		<pre>&lt;script src='//maps.googleapis.com/maps/api/js?sensor=false'&gt;&lt;/script&gt;
&lt;script src='/path/to/angular-google-maps[.min].js'&gt;&lt;/script&gt;</pre>
	</li>
	<li>
		Make your application module depend on the <code>google-maps</code> module:
		<pre>angular.module('myApplicationModule', ['google-maps']);</pre>
	</li>
	<li>
		Add a <code>map</code> object in your scope like this:
		<pre>$scope.map = {
  center: {
    latitude: 45,
    longitude: -73
  },
  zoom: 8
};</pre>
		<p class="muted">Note: this is the very minimal set of properties required for the map to work.
			See the <a href="#!/api">API documentation</a> for the full list of supported properties.</p>
	</li>
	<li>
		Add a <code>&lt;google-map&gt;</code> element in your template like this:
		<pre>&lt;google-map center='map.center' zoom='map.zoom'&gt;&lt;/google-map&gt;</pre>
	</li>
	<li>
		Specify an height via CSS for the map container:
		<pre>.angular-google-maps-container { height: 400px; }</pre>
	</li>
</ol>
